* {
  font-family: "Source Code Pro", monospace;
  letter-spacing: -0.25px;
  word-spacing: -2px;
}

body {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  margin: 1.4em 0;
  width: 100vw;
  height: 100vh;
  font-size: 18px;
  text-align: center;
}

#main {
  background-color: rgb(235, 235, 235);
  padding: 16px 12px;
}

.title {
  padding: 0.4em 0;
}

#title {
  font-size: 48px;
}

.image {
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 660px;
  padding-top: 50px;
}

#img-div {
  margin: auto;
  width: 960px;
  height: 600px;
  background-color: rgb(0, 0, 0);
}

#image {
  max-width: 100%;
  height: 600px;
  filter: grayscale(100%);
  display: block;
  justify-align: center;
  margin: auto;
}

#img-caption {
  padding: 1em;
}

h3 {
  padding: 0.8em 0 0 0;
}

#timelines {
  width: 720px;
  margin: auto;
  text-align: justify;
}

li {
  padding: 8px 0;
  line-height: 1.8;
}

#quotes {
  width: 960px;
  text-align: right;
  padding: 8px 0;
  margin: 1.2em auto;
}

#quote-one,
#quote-two {
  padding: 0.2em 0;
}

.testimonial {
  text-align: center;
  line-height: 1.6;
}

fieldset {
  margin: 2em auto;
  font-weight: bold;
  border: none;
}

a {
  color: rgb(128, 128, 128);
}

footer {
  margin: 2em auto;
}

footer p {
  padding-bottom: 30px;
  font-size: 16px;
}
