* {
  font-family: "Source Code Pro", monospace;
  letter-spacing: -0.25px;
  word-spacing: -4px;
}
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 18px;
}

h1,
p {
  text-align: center;
}

h1 {
  margin: 2em auto 1.5em auto;
}

form {
  width: 50vw;
  max-width: 900px;
  min-width: 400px;
  margin: 4em auto 2.5em auto;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 60px;
}

label {
  display: block;
  margin: 20 auto;
}

input,
select,
textarea {
  margin: 12px auto 20px auto;
  min-height: 3.6em;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

select {
  font-size: 14px;
  color: rgb(0, 0, 0);
  border: unset;
  height: 3em;
}

input[type="radio"] {
  display: inline;
  width: unset;
  vertical-align: middle;
  margin: -0.8em 1em -0.5em 0;
}

input[type="checkbox"] {
  display: inline;
  width: unset;
  vertical-align: middle;
  margin: -0.8em 1em -0.5em 0;
}

button {
  display: block;
  width: 100%;
  height: 3em;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border-color: rgb(255, 255, 255);
  margin-top: 2em;
  font-size: 16px;
}

footer {
  padding: 1.5em;
}

footer > p {
  font-size: 16px;
}

a {
  color: rgb(128, 128, 128);
}

.survey-description {
  margin: -1.5em auto -1.5em auto;
  font-size: 20px;
}

.app-feature,
.comments {
  margin-top: 1.5em;
}
